@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "onlineform" }))
{
    <div style="height:100vh; width:100vw;"></div>
}
